body {
        background-color: #ddd; /* Fundo cinza [cite: 94] */
        font-family: 'Arial Narrow', sans-serif; /* Fonte Arial Narrow [cite: 94] */
        color: #444; /* Cor do texto [cite: 94] */
        line-height: 1.5; /* Espaçamento entre linhas [cite: 94] */
    }

h2 {
        font-size: 30px;
        font-weight: bold;
        color:db8102;
        line-height: 2.5;
    }